<!DOCTYPE html>
<html ng-app>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<link href="bootstrap.css" rel="stylesheet" type="text/css" />
	</head>
	<body ng-controller="TodoListCtrl">
		<a ng-href="javascript:clear();">Clear</a>
		test
		<form novalidate class="simple-form" ng-submit="add()">
			<input type="text"     placeholder="title"           ng-model="todo.title" 			name="title" 		id="title" />
			<input type="text"     placeholder="description"     ng-model="todo.description" 	name="description" 	id="description"/>
			<input type="text"      placeholder="www.example.com" ng-model="todo.url" 			name="url" 			id="url"/>
			<input type="date"     placeholder="deadline"        ng-model="todo.deadline" 		name="deadline" 	id="deadline"/>
			<input type="checkbox" value="done"                  ng-model="todo.done" 			name="done" 		id="done"/>
			<input type="submit"/>
		</form>
		<script type="text/javascript" src="jquery-1.8.3.js" ></script>
		<script src="angular.js" ></script>
		<script type="text/javascript" src="application.js" ></script>
		<form novalidate class="simple-form" ng-cloack>
			<ul>
				<li>
					<div class="row">
						<div class="span4"><strong>title</strong></div>
						<div class="span2"><strong>deadline</strong></div>
						<div class="span6"><strong>description</strong></div>
					</div>
				</li>
				<li ng-repeat="todo in todos">
					<div class="row ng-cloack">
						<div ng-class='{done: todo.done}' class="span4">
							<input 
								type='checkbox' 
								name='done' 
								value='done' 
								ng-model='todo.done'
								ng-change="update()"/>
							<a href='{{ todo.url || "javascript:void(0);"}}' ng-bind-template="{{shorttitle(todo)}}" title="{{todo.title}}"></a>
							<span ng-class='{done: todo.done}' class="right" >
								 => <a ng-href='javascript:remove({{$index}})'><img src="close.ico" title="remove({{todo.title}})" alt="remove({{todo.title}})"></img></a> 
								<a href='https://www.google.com/search?q={{todo.title}}'><img src="google.ico" title="google({{todo.title}})" alt="google({{todo.title}})"></img></a>
							</span>
						</div>
						<div ng-class='{done: todo.done}' class="span2" ng-cloack>{{todo.deadline}}<span ng-bind="todo.deadline"></span></div>
						<div ng-class='{done: todo.done}' class="span6" ng-cloack>{{todo.description}}<span ng-bind="todo.description"></span></div>
					</div>
				</li>
			</ul>
		</form>
	</body>
</html>
