a { text-decoration: none; }

.done, .row .done, div.done, a.done { text-decoration: line-through; }

.right {
	float: right;
	clear: right;
	margin-right: 5px;
}

li {
	list-style: none;
	text-decoration: none;
}
